<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Выбор хостинга</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        
        <!-- Le styles -->
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="ico/favicon.ico"/>
        <script src="js/bootstrap.min.js"></script>    
    </h:head>
    <h:body>
        <ui:insert name="header" >
            <ui:include src="templates/header.xhtml" />
        </ui:insert>
        <!-- Контейнер всей страницы -->
        <div class="container">
            <!-- Вторая строка разметки -->
            <div class="row">
                <!-- Столбец с формой выбора хостинга -->
                <div class="col-md-12 well indexcol">
                    <h3 style="margin: 0 auto;">Ошибка!</h3>
                    <strong>#{requestScope['javax.servlet.error.exception']}</strong>
                </div>
            </div>
        </div>
    </h:body>
</html>

