<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Cтатьи</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js"/>
    <link rel="shortcut icon" href="ico/favicon.ico"/>
</h:head>
<h:body>
    <ui:include src="templates/header.xhtml" />
    <div class="container well">
		<!-- Строка с названием статьи -->
                <c:forEach items="${postBean.posts}" var="post" varStatus="loop">
		<div class="row">
                    <div class="col-md-12">
                        <h4>${post.title}</h4>
                    </div>
		</div>
		<!-- Строка с картинкой и текстом -->
		<div class="row">
			<!-- Столбец с картинкой -->
			<div class="col-md-3">
                            <img src="${post.img}" class="img-responsive"/>
			</div>
			<!-- Столбец с текстом -->
			<div class="col-md-8">      
                            <h:outputText escape="false" value="${post.content}"/>
			</div>
		</div>
		<!-- Строка с информацией о статье -->
		<div class="row">
                    <div class="col-md-12">
                        <i class="glyphicon glyphicon-user"/> ${post.author.username} | <i class="glyphicon glyphicon-time"/> ${post.time.toLocaleString()}
                    </div>
		</div>
                <c:if test="${!loop.last}">
		<hr/>
                </c:if>
                </c:forEach>
	</div>
    </h:body>
</html>

