<ui:composition template="templates/commonSearch.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
            <ui:define name="title">Выбор облачного хостинга</ui:define>
    
            <ui:define name="input">
                <ui:include src="templates/cloudInput.xhtml" />
            </ui:define>
            <ui:define name="searchButton">
                <h:commandButton class="btn btn-primary" value="Найти" action="#{cloudBean.search()}"/>
            </ui:define>
            <ui:define name="clearCommand">
                <p:remoteCommand name="myRemote" actionListener="#{cloudBean.clear}" update=":editHostingForm"/>
            </ui:define>
            <ui:define name="select">
                <ui:include src="templates/cloudSelect.xhtml" />
            </ui:define>
            <ui:define name="checkbox">
               <div class="form-group">
                        <label class="label label-default">Доп.услуги</label>
                        <p><p:selectBooleanCheckbox value="#{cloudBean.cloud.sitemove}"/> Перенос сайта</p>
                    </div>
            </ui:define>
            <ui:define name="table">
                <p:dataTable var="cloud" value="#{cloudBean.cloudList}" sortMode="multiple" rows="10" paginator="true">
                    <c:if test="#{cloudBean.cloudList.size()>0}">
                        <f:facet name="header">Нашлось #{cloudBean.cloudList.size()} хостингов.</f:facet>
                    </c:if>
                        <p:column headerText="Название">  
                            <h:outputText value="#{cloud.name}" />  
                        </p:column>
                        <p:column sortBy="ram" headerText="ОЗУ">  
                            <h:outputText value="#{cloud.ram}" />  
                        </p:column>
                        <p:column sortBy="space" headerText="Место">  
                            <h:outputText value="#{cloud.space}" />  
                        </p:column>
                        <p:column sortBy="traffic" headerText="Траффик">  
                            <h:outputText value="#{cloud.traffic}" />  
                        </p:column>
                        <p:column sortBy="ip" headerText="IP">  
                            <h:outputText value="#{cloud.ip}" />  
                        </p:column>
                        <p:column headerText="Процессор">  
                            <h:outputText value="#{cloud.cpu.frequency}МГц - #{cloud.cpu.name}" />  
                        </p:column>
                        <p:column headerText="Диск">  
                            <h:outputText value="#{cloud.hdd.name}" />  
                        </p:column>
                        <p:column headerText="Бэкап">  
                            <h:outputText value="#{cloud.backup.type}" />  
                        </p:column>
                        <p:column sortBy="price" headerText="Цена">  
                            <h:outputText value="#{cloud.price}" />  
                        </p:column>              
                        <p:column headerText="Поддержка">  
                            <h:outputText value="#{cloud.support.type}" />  
                        </p:column>
                        <p:column headerText="Перенос сайта">  
                            <h:selectBooleanCheckbox disabled="true" value="#{cloud.sitemove}" />  
                        </p:column>
                        <c:if test="#{request.isUserInRole('Admin')}">
                        <p:column id="actions">
                             <h:form>
                                 <c:if test="#{request.isUserInRole('Admin')}">
                                    <p:commandLink action="#{cloudBean.setCloud(cloud)}" oncomplete="$('#editHosting').modal('show'); return false;" title="Изменить" update=":editHostingForm"><i class="glyphicon glyphicon-pencil"/></p:commandLink>
                                    <h:commandLink action="#{cloudBean.delCloud(cloud)}" title="Удалить"><i class="glyphicon glyphicon-remove"></i></h:commandLink>
                                 </c:if>
                             </h:form>
                        </p:column>
                        </c:if>
                    </p:dataTable>
            </ui:define>
            <ui:define name="addButton">
                <p:commandButton value="Добавить" action="#{cloudBean.addCloud()}" styleClass="btn btn-success"/>
            </ui:define>
 </ui:composition>