<ui:composition template="templates/commonSearch.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
            <ui:define name="title">Выбор выделенного сервера</ui:define>
    
            <ui:define name="input">
                <ui:include src="templates/dedicInput.xhtml" />
            </ui:define>
            
            <ui:define name="searchButton">
                <h:commandButton class="btn btn-primary" value="Найти" action="#{dedicBean.search()}"/>
            </ui:define>
            
            <ui:define name="clearCommand">
                <p:remoteCommand name="myRemote" actionListener="#{dedicBean.clear}" update=":editHostingForm"/>
            </ui:define>
            
            <ui:define name="select">
                <ui:include src="templates/dedicSelect.xhtml" />
            </ui:define>
            
            <ui:define name="table">
                <p:dataTable var="dedic" value="#{dedicBean.dedicList}" sortMode="multiple" rows="10" paginator="true">
                    <c:if test="#{dedicBean.dedicList.size()>0}">
                        <f:facet name="header">
                            Нашлось #{dedicBean.dedicList.size()} хостингов.
                        </f:facet>
                    </c:if>
                        <p:column headerText="Название">  
                            <h:outputText value="#{dedic.name}" />  
                        </p:column>
                        <p:column headerText="CPU">  
                            <h:outputText value="#{dedic.cputype.frequency}МГц - #{dedic.cputype.name}" />  
                        </p:column>
                        
                        <p:column headerText="Тип HDD">  
                            <h:outputText value="#{dedic.hdd.name}" />  
                        </p:column>
                        
                        <p:column sortBy="space" headerText="Место на HDD">  
                            <h:outputText value="#{dedic.space}" />  
                        </p:column>
                        
                        <p:column sortBy="traffic" headerText="Траффик">  
                            <h:outputText value="#{dedic.traffic}" />  
                        </p:column>
                        
                        <p:column sortBy="ram" headerText="ОЗУ">  
                            <h:outputText value="#{dedic.ram}" />  
                        </p:column>
                        
                        <p:column sortBy="price" headerText="Цена">  
                            <h:outputText value="#{dedic.price}" />  
                        </p:column>
                        
                        <p:column sortBy="ip" headerText="IP">  
                            <h:outputText value="#{dedic.ip}" />  
                        </p:column>
                        
                        <p:column headerText="Поддержка">  
                            <h:outputText value="#{dedic.support.type}"/>  
                        </p:column>
                    <c:if test="#{request.isUserInRole('Admin')}">
                        <p:column id="actions">
                             <h:form>
                                <p:commandLink action="#{dedicBean.setDedic(dedic)}" oncomplete="$('#editHosting').modal('show'); return false;" title="Изменить" update=":editHostingForm"><i class="glyphicon glyphicon-pencil"/></p:commandLink>
				<h:commandLink action="#{dedicBean.delDedic(dedic)}" title="Удалить"><i class="glyphicon glyphicon-remove"></i></h:commandLink>
                             </h:form>
                        </p:column>
                    </c:if>
                    </p:dataTable>
            </ui:define>
            
            <ui:define name="addButton">
                <p:commandButton value="Добавить" action="#{dedicBean.addDedic()}" styleClass="btn btn-success"/>
            </ui:define>
 </ui:composition>