<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Выбор хостинга</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- Le styles -->
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="ico/favicon.ico"/>
        <script src="js/script.js"/>
    </h:head>
    <h:body>
        <ui:include src="templates/header.xhtml" />
        <!-- Контейнер всей страницы -->
        <div class="container">            
            <!-- Вторая строка разметки -->
            <div class="row">
                <!-- Столбец с формой выбора хостинга -->
                <div class="col-md-4 well indexcol">
                    <form onsubmit="checkParams()" class="ac-circle small-search" id="chooserform" role="form" method="post">
                        <h3>Выбор хостинга</h3>
                        <hr/>
                        <div class="form-group">
                            <span class="label label-default">Объем</span>
                            <input class="form-control input-sm" type="text" placeholder="Введите объем" id="space" name="space" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <span class="label label-default">Траффик</span>
                            <input class="input-sm form-control" type="text" placeholder="Введите траффик" id="traffic" name="traffic" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <span class="label label-default">Цена</span>
                            <input class="input-sm form-control" type="text" placeholder="Введите цену" id="price" name="price" autocomplete="off"/>
                        </div>
                        <ul>
                            <li><label class="radio-inline"><input onclick="checkType('VDS')" type="radio" name="type"/>VDS</label></li>
                            <li><label class="radio-inline"><input onclick="checkType('Dedic')" type="radio" name="type"/>Dedic</label></li>
                            <li><label class="radio-inline"><input onclick="checkType('Shared')" type="radio" name="type"/>Shared</label></li>
                            <li><label class="radio-inline"><input onclick="checkType('Cloud')" type="radio" name="type"/>Cloud</label></li>
                        </ul>
                        <button type="submit" class="btn btn-primary btn-block">Найти</button>
                    </form>
                </div>
                <!-- Текст -->
                <div class="col-md-5 well indexcol">
                    <h3>Случайная запись</h3>
                    <hr/>
                    <h:outputText value="#{postBean.rnd.content}" escape="false"/>
                </div>
                <!-- Опрос -->
                <div class="col-md-3 well indexcol">
                    <h:form class="ac-circle">
                        <h3>Опрос</h3>
                        <hr/>
                        <ul class="radio">
                            <p:remoteCommand name="setPollHit" actionListener="#{pollBean.setHit}"/>
                            <c:forEach items="#{pollBean.polls}" var="poll">
                                <li><label onclick="setPollHit([{name: 'param', value:#{poll.idpoll}}])"><input type="radio" class="poll" name="poll"/>#{poll.name}</label></li>
                            </c:forEach>
                        </ul>
                        <p:commandButton disabled="#{session.getAttribute('userSessionFacadeLocal').getUser().vote ? 'true' : ''}" action="#{pollBean.hit}" oncomplete="$('#results').modal('show'); return false;" update=":pollResult" styleClass="btn btn-block btn-primary" value="Отправить"/>
                    </h:form>
                    <a href="#results" data-toggle="modal" data-targer="#results" class="pull-right"><small>Результаты</small></a>
                </div>
            </div>

            <div id="results" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resultsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 id="resultsLabel">Результаты</h3>
                        </div>
                        <div class="modal-body">
                            <h:form id="pollResult">
                                <c:forEach items="#{pollBean.polls}" varStatus="status" var="poll">
                                    <strong>#{poll.name}</strong><span class="pull-right">#{poll.hit}</span>
                                    <div class="progress">
                                        <div class="progress-bar #{pollBean.colors[status.index]}" role="progressbar" aria-valuenow="#{poll.hit}" aria-valuemin="0" aria-valuemax="100" style="width: #{poll.hit}%"/>
                                    </div>
                                </c:forEach>
                            </h:form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>	  
        </div>
        <script>
            function checkType(type) {
                var str = document.getElementById("chooserform");
                switch (type)
                {
                    case "VDS":
                        str.action = "vds.xhtml#dataTable";
                        break
                    case"Shared":
                        str.action = "shared.xhtml#dataTable";
                        break
                    case"Dedic":
                        str.action = "dedicated.xhtml#dataTable";
                        break
                    case"Cloud":
                        str.action = "cloud.xhtml#dataTable";
                        break
                }
            }
        </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/svgcheckbx.js"></script>
    </h:body>
</html>

