<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xml:lang="ru" lang="ru">
<h:head>
    <title>Личный кабинет</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js"/>
    <link href="ico/favicon.ico" rel="shortcut icon"/>
</h:head>
<h:body>
    <ui:include src="templates/header.xhtml" />
    
    <!-- Контейнер всей страницы -->
    <div class="container">
            <c:if test="#{request.isUserInRole('Admin')}">
                <div class ="row">
                    <div class="col-md-5">
                    <h3>Список пользователей</h3>
                    </div>
		</div>
                <div class="row">
                    <div class="col-md-5">
                        <p:commandLink value="Добавить нового" styleClass="btn btn-primary" action="#{userBean.clear}" onclick="dlg2.show()" update=":addForm"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 well">
                        <h:form>
                            <p:dataTable id="dataTable" var="user" value="#{userBean.getUsrList()}">                          
                                <p:column headerText="ID" sortBy="#{user.iduser}">  
                                    <h:outputText value="#{user.iduser}" />  
                                </p:column>
                        
                                <p:column headerText="ФИО" sortBy="#{user.username}">  
                                    <h:outputText value="#{user.username}" />  
                                </p:column>
                        
                                <p:column headerText="Email">  
                                    <h:outputText value="#{user.email}" />  
                                </p:column>
                        
                                <p:column>
                                    <p:commandLink action="#{userBean.setUser(user)}" oncomplete="dlg2.show()" title="Изменить" update=":addForm"><i class="glyphicon glyphicon-pencil"/></p:commandLink>
                                    <h:commandLink action="#{userBean.delUser(user)}" title="Удалить"><i class="glyphicon glyphicon-remove"/></h:commandLink>  
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>
            </c:if>
            
            <div class ="row">
                <div class="col-md-5">
                    <h3>Список избранных хостингов</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 well">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#shared" data-toggle="tab">Shared</a></li>
			<li><a href="#vds" data-toggle="tab">VDS</a></li>
			<li><a href="#cloud" data-toggle="tab">Cloud</a></li>
                        <li><a href="#dedicated" data-toggle="tab">Dedicated</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="shared">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
					<th>Наименование</th>
					<th>Платформа</th>
					<th>Место, МБ</th>
					<th>Трафик, ГБ/мес</th>
					<th>Сайты, шт</th>
					<th>Email, шт</th>
					<th>БД, шт</th>
					<th><label title="Панель управления"><strong>ПУ</strong></label></th>
					<th>PHP</th>
					<th>ASP</th>
					<th>SSH</th>
					<th>Цена, руб</th>
					<th></th>
					</tr>
				</thead>
				<tbody>
                                    <c:forEach items="#{workWithSession.favourites}" var="s">
                                    <tr>
                                        <td>#{s.name}</td>
                                        <td>#{s.platform.name}</td>
                                        <td>#{s.space}</td>
                                        <td>#{s.traffic}</td>
                                        <td>#{s.sites}</td>
                                        <td>#{s.emails}</td>
                                        <td>#{s.dbases}</td>
                                        <td>#{s.panel.name}</td>
                                        <td><h:selectBooleanCheckbox disabled="true" value="#{s.php}"/></td>
                                        <td><h:selectBooleanCheckbox disabled="true" value="#{s.asp}"/></td>
                                        <td><h:selectBooleanCheckbox disabled="true" value="#{s.ssh}"/></td>
                                        <td>#{s.price}</td>
                                        <td><h:form>
                                            <h:commandLink action="#{workWithSession.deleteFromFav(s)}"><i class="glyphicon glyphicon-remove-sign"/></h:commandLink>
                                            </h:form>
                                        </td>
                                    </tr>
                                    </c:forEach>
				</tbody>
                            </table>
                        </div>
			<div class="tab-pane fade in" id="vds">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
					<th>Наименование</th>
					<th>Платформа</th>
					<th>Место, МБ</th>
					<th>RAM, МБ</th>
					<th>CPU, МГц</th>
					<th>Трафик, ГБ/мес</th>
					<th><label title="Панель управления"><strong>ПУ</strong></label></th>
					<th><label title="Собственные DNS"><strong>DNS</strong></label></th>
					<th><label title="Ежедневный бэкап"><strong>Backup</strong></label></th>
					<th><label title="Бесплатный перенос сайта"><strong>БПС</strong></label></th>
					<th>Оплата, руб</th>
					<th></th>
                                    </tr>
				</thead>
				<tbody>
                                    <tr>
                                    </tr>
				</tbody>
                            </table>
			</div>
			<div class="tab-pane fade in" id="cloud">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
					<th>Наименование</th>
					<th>Платформа</th>
					<th>Место на диске, МБ</th>
					<th>Тип HDD</th>
					<th>RAM, МБ</th>
					<th>CPU, МГц</th>
					<th>Трафик, ГБ/мес</th>
					<th>IP, шт</th>
					<th>Поддержка</th>
					<th>Backup</th>
					<th><label title="Бесплатный перенос сайта"><strong>БПС</strong></label></th>
					<th>Оплата</th>
					<th></th>
                                    </tr>
				</thead>
				<tbody>
                                    <tr>
                                    </tr>
				</tbody>
                            </table>
			</div>
			<div class="tab-pane fade in" id="dedicated">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Наименование</th>
					<th>Тип диска</th>
					<th>Место, МБ</th>
					<th>RAM, МБ</th>
					<th>CPU</th>
					<th>CPU, МГц</th>
					<th>CPU, шт</th>
					<th>Трафик, ГБ/мес</th>
					<th>IP, шт</th>
					<th>Оплата, руб</th>
					<th></th>
                                    </tr>
				</thead>
				<tbody>
				</tbody>
                            </table>
			</div>
                    </div>
                </div>
            </div>
        
            <div class ="row">
                <div class="col-md-5">
                    <h3>Список статей</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p:commandLink styleClass="btn btn-primary" value="Добавить статью" action="#{postBean.clear}" oncomplete="dlg.show();" update=":editPostForm"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 well">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Наименование</th>
				<th>Дата создания</th>
				<th>Автор</th>
				<th></th>
                            </tr>
			</thead>
			<tbody>
                            <c:forEach var="post" items="${postBean.posts}">
                            <tr>
                                <td>${post.title}</td>
                                <td>${post.time.toLocaleString()}</td>
                                <td>${post.author.username}</td>
                            	<td>
                                    <h:form>
                                        <p:commandLink action="#{postBean.setPost(post)}" oncomplete="dlg.show();" title="Изменить" update=":editPostForm"><i class="glyphicon glyphicon-pencil"/></p:commandLink>
					<h:commandLink action="#{postBean.delPost(post)}" title="Удалить"><i class="glyphicon glyphicon-remove"/></h:commandLink>
                                    </h:form>
				</td>
                            </tr>
                            </c:forEach>
			</tbody>
                    </table>
		</div>
            </div>
        </div>
        
        <p:dialog dynamic="true" closeOnEscape="true" id="modalDialog" header="Редактирование поста" widgetVar="dlg" modal="true">
            <div style="padding: 10px;">
                <h:form class="form-horizontal" id="editPostForm">
                    <div class="form-group">
                        <p:inputText styleClass="form-control" id="posttitle" placeholder="Название" value="#{postBean.post.title}" autocomplete="off"/>
                    </div>
                    
                    <div class="form-group">
                        <p:editor width="700" widgetVar="editor" id="editor" value="#{postBean.post.content}"/> 
                    </div>
                    <div class="form-group">
                        <p:fileUpload fileUploadListener="#{postBean.handleFileUpload}" mode="advanced" auto="true" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                    </div>
                    <div class="pull-right">
                        <h:commandButton value="Добавить" action="#{postBean.addPost()}" class="btn btn-success"/>
                    </div>
                </h:form>
            </div>
        </p:dialog>
    
        <p:dialog rendered="#{request.isUserInRole('Admin')}" dynamic="true" closeOnEscape="true" id="editUserDialog" header="Редактирование пользователя" widgetVar="dlg2" modal="true">
            <div style="padding: 10px;">
                <h:form class="form-horizontal" id="addForm">
                    <div class="form-group">
                    <p:inputText styleClass="form-control" id="name" placeholder="Логин" value="#{userBean.user.username}" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                    <p:inputText type="email" styleClass="form-control" id="email" placeholder="Email" value="#{userBean.user.email}" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                    <p:inputText type="password" styleClass="form-control" id="password" placeholder="Пароль" value="#{userBean.user.password}" autocomplete="off"/>
                    </div>
                    <div class="pull-right">
                        <h:commandButton value="Добавить" action="#{userBean.addUser()}" class="btn btn-success"/>
                    </div>
                </h:form>
            </div>
        </p:dialog>
    </h:body>
</html>