<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="ico/favicon.ico"/>
    <script src="js/bootstrap.min.js"/>
    <script src="js/jquery.validate.min.js"/>
    </h:head>
    <h:body>
    <ui:include src="templates/header.xhtml" />
	
    <div class="container">
      <div class="row">
		<div class="col-md-4 col-md-offset-4 well">
		<h2>Регистрация</h2>
                <h:form class="registration-form form-horizontal" prependId="false">
                    <div class="form-group">
                        <span class="label label-default">Логин</span>
                        <p:inputText type="text" styleClass="form-control" id="name" value="#{registrationBean.user.username}" placeholder="Логин" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <span class="label label-default">Email</span>
                        <p:inputText type="email" styleClass="form-control" id="email" value="#{registrationBean.user.email}" placeholder="Email" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <span class="label label-default">Пароль</span>
                        <p:inputText type="password" styleClass="form-control" id="password" value="#{registrationBean.user.password}" placeholder="Пароль" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <span class="label label-default">Пароль еще раз</span>
                        <p:inputText type="password" styleClass="form-control" id="password_again" placeholder="Пароль еще раз" autocomplete="off"/>
                    </div>
                    <h:commandButton action="#{registrationBean.register}" type="submit" styleClass="btn btn-primary btn-block" value="Регистрация"/>
		</h:form>
		</div>
	  </div> 
    </div>
    </h:body>
</html>

