<ui:composition template="templates/commonSearch.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
            <ui:define name="title">Выбор виртуального хостинга</ui:define>
    
            <ui:define name="input">
                <ui:include src="templates/sharedInput.xhtml" />
            </ui:define>
            <ui:define name="searchButton">
                <h:commandButton class="btn btn-primary" value="Найти" action="#{sharedBean.search()}"/>
            </ui:define>
            <ui:define name="clearCommand">
                <p:remoteCommand name="myRemote" actionListener="#{sharedBean.clear}" update=":editHostingForm"/>
            </ui:define>
            <ui:define name="select">
                <ui:include src="templates/sharedSelect.xhtml" />
            </ui:define>
            <ui:define name="checkbox">
                <ui:include src="templates/sharedCheck.xhtml" />
            </ui:define>
            <ui:define name="table">
                <p:dataTable var="shared" value="#{sharedBean.sharedList}" sortMode="multiple" rows="10" paginator="true">
                    <c:if test="#{sharedBean.sharedList.size()>0}">
                        <f:facet name="header">Нашлось #{sharedBean.sharedList.size()} хостингов.</f:facet>
                    </c:if>
                        <p:column headerText="Название">  
                            <h:outputText value="#{shared.name}" />  
                        </p:column>
                        <p:column sortBy="space" headerText="Место">  
                            <h:outputText value="#{shared.space}" />  
                        </p:column>
                        <p:column sortBy="sites" headerText="Сайты">  
                            <h:outputText value="#{shared.sites}" />  
                        </p:column>
                        <p:column sortBy="traffic" headerText="Траффик">  
                            <h:outputText value="#{shared.traffic}" />  
                        </p:column>
                        <p:column sortBy="emails" headerText="Ящики">  
                            <h:outputText value="#{shared.emails}" />  
                        </p:column>
                        <p:column sortBy="dbases" headerText="БД">  
                            <h:outputText value="#{shared.dbases}" />  
                        </p:column>                      
                        <p:column headerText="Платформа">  
                            <h:outputText value="#{shared.platform.name}" />  
                        </p:column>
                        <p:column headerText="Панель">  
                            <h:outputText value="#{shared.panel.name}" />  
                        </p:column>
                        <p:column headerText="Бэкап">  
                            <h:outputText value="#{shared.backup.type}" />  
                        </p:column>             
                        <p:column headerText="Поддержка">  
                            <h:outputText value="#{shared.support.type}" />  
                        </p:column>
                        <p:column sortBy="price" headerText="Цена">  
                            <h:outputText value="#{shared.price}" />  
                        </p:column>
                        <p:column headerText="ASP">  
                            <h:selectBooleanCheckbox disabled="true" value="#{shared.asp}" />
                        </p:column>
                        <p:column headerText="PHP">  
                            <h:selectBooleanCheckbox disabled="true" value="#{shared.php}" />
                        </p:column>
                        <p:column headerText="SSH">  
                            <h:selectBooleanCheckbox disabled="true" value="#{shared.ssh}" />
                        </p:column>
                        <c:if test="#{request.isUserInRole('Admin')}">
                        <p:column>
                             <h:form>
                                 <p:commandLink action="#{sharedBean.setShared(shared)}" oncomplete="$('#editHosting').modal('show'); return false;" title="Изменить" update=":editHostingForm"><i class="glyphicon glyphicon-pencil"/></p:commandLink> 
                                <h:commandLink action="#{sharedBean.delShared(shared)}" title="Удалить"><i class="glyphicon glyphicon-remove"></i></h:commandLink>
                             </h:form>
                        </p:column>
                        </c:if>
                        <c:if test="#{request.isUserInRole('User')}">
                        <p:column>
                             <h:form>
                                 
                                 <p:commandLink action="#{workWithSession.addInFavourites(shared)}" oncomplete="" title="Изменить"><i class="glyphicon glyphicon-bookmark"/></p:commandLink> 
                             </h:form>
                        </p:column>
                        </c:if>
                    </p:dataTable>
            </ui:define>
            <ui:define name="addButton">
                <p:commandButton value="Добавить" action="#{sharedBean.addShared()}" styleClass="btn btn-success"/>
            </ui:define>
 </ui:composition>