<ui:composition template="templates/commonSearch.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
            <ui:define name="title">Выбор виртульного выделенного сервера</ui:define>
    
            <ui:define name="input">
                <ui:include src="templates/vdsInput.xhtml" />
            </ui:define>
            <ui:define name="searchButton">
                <h:commandButton class="btn btn-primary" value="Найти" action="#{vdsBean.search()}"/>
            </ui:define>
            <ui:define name="clearCommand">
                <p:remoteCommand name="myRemote" actionListener="#{vdsBean.clear}" update=":editHostingForm"/>
            </ui:define>
            <ui:define name="select">
                <ui:include src="templates/vdsSelect.xhtml" />
            </ui:define>
            <ui:define name="checkbox">
               <div class="form-group">
                        <label class="label label-default">Доп.услуги</label>
                        <p><p:selectBooleanCheckbox value="#{vdsBean.vds.sitemove}"/> Перенос сайта
                            <p:selectBooleanCheckbox value="#{vdsBean.vds.dns}"/> DNS</p>
                    </div>
            </ui:define>
            <ui:define name="table">
                <p:dataTable var="vds" value="#{vdsBean.vdsList}" sortMode="multiple" rows="10" paginator="true">
                    <c:if test="#{vdsBean.vdsList.size()>0}">
                        <f:facet name="header">Нашлось #{vdsBean.vdsList.size()} хостингов.</f:facet>
                    </c:if>
                        <p:column headerText="Название">  
                            <h:outputText value="#{vds.name}" />  
                        </p:column>
                        <p:column sortBy="ram" headerText="ОЗУ">  
                            <h:outputText value="#{vds.ram}" />  
                        </p:column>
                        <p:column sortBy="space" headerText="Место">  
                            <h:outputText value="#{vds.space}" />  
                        </p:column>
                        <p:column sortBy="traffic" headerText="Траффик">  
                            <h:outputText value="#{vds.traffic}" />  
                        </p:column>
                        <p:column headerText="Визуализация">  
                            <h:outputText value="#{vds.visualisation.name}" />  
                        </p:column>
                        <p:column headerText="Процессор">  
                            <h:outputText value="#{vds.cpu.frequency}МГц - #{vds.cpu.name}" />  
                        </p:column>
                        <p:column headerText="Панель">  
                            <h:outputText value="#{vds.panel.name}" />  
                        </p:column>
                        <p:column headerText="Бэкап">  
                            <h:outputText value="#{vds.backup.type}" />  
                        </p:column>
                        <p:column sortBy="price" headerText="Цена">  
                            <h:outputText value="#{vds.price}" />  
                        </p:column>              
                        <p:column headerText="Поддержка">  
                            <h:outputText value="#{vds.support.type}" />  
                        </p:column>
                        <p:column headerText="ДНС">  
                            <h:selectBooleanCheckbox disabled="true" value="#{vds.dns}" />  
                        </p:column>
                        <p:column headerText="Перенос сайта">  
                            <h:selectBooleanCheckbox disabled="true" value="#{vds.sitemove}" />  
                        </p:column>
                        <c:if test="#{request.isUserInRole('Admin')}">
                        <p:column id="actions">
                             <h:form>
                                 <c:if test="#{request.isUserInRole('Admin')}">
                                    <p:commandLink action="#{vdsBean.setVds(vds)}" oncomplete="$('#editHosting').modal('show'); return false;" title="Изменить" update=":editHostingForm"><i class="glyphicon glyphicon-pencil"/></p:commandLink>
                                    <h:commandLink action="#{vdsBean.delVds(vds)}" title="Удалить"><i class="glyphicon glyphicon-remove"></i></h:commandLink>
                                 </c:if>
                             </h:form>
                        </p:column>
                        </c:if>
                    </p:dataTable>
            </ui:define>
            <ui:define name="addButton">
                <p:commandButton value="Добавить" action="#{vdsBean.addVds()}" styleClass="btn btn-success"/>
            </ui:define>
 </ui:composition>