<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
<div class="form-group">
    <label class="label label-default">IP, шт</label>
    <p:inputText styleClass="form-control" type="text" id="inputIP" placeholder="IP, шт" value="#{cloudBean.cloud.ip}" autocomplete="off"/>
</div>

<div class="form-group">
    <label class="label label-default">Диск</label>
    <h:selectOneMenu value="#{cloudBean.cloud.hdd}" class="form-control" converter="#{hddConveter}">
        <f:selectItem itemLabel="Выберите тип диска"/>
        <f:selectItems value="#{searchBean.hddList}" var="hdd" itemLabel="#{hdd.name}" itemValue="#{hdd}"/>  
    </h:selectOneMenu>  
</div>
                         
<div class="form-group">
    <label class="label label-default">Процессор</label>
    <h:selectOneMenu value="#{cloudBean.cloud.cpu}" class="form-control" converter="#{cpuConveter}">
        <f:selectItem itemLabel="Выберите процессор"/>
        <f:selectItems value="#{searchBean.cpuList}" var="cpu" itemLabel="#{cpu.name}" itemValue="#{cpu}"/>
    </h:selectOneMenu>
</div>
                            
<div class="form-group">
    <label class="label label-default">Бэкап</label>
    <h:selectOneMenu value="#{cloudBean.cloud.backup}" class="form-control" converter="#{backupConveter}">
        <f:selectItem itemLabel="Выберите типа бэкапа"/>
        <f:selectItems value="#{searchBean.backupList}" var="backup" itemLabel="#{backup.type}" itemValue="#{backup}"/>
    </h:selectOneMenu>
</div>
                            
<div class="form-group">
    <label class="label label-default">Техподдержка</label>
    <h:selectOneMenu value="#{cloudBean.cloud.support}" class="form-control" converter="#{supportConveter}">
        <f:selectItem itemLabel="Выберите тип поддержки"/>
        <f:selectItems value="#{searchBean.supportList}" var="support" itemLabel="#{support.type}" itemValue="#{support}"/>  
    </h:selectOneMenu>
</div>
</ui:composition>