<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
   <h:head>
       <title><ui:insert name="title"></ui:insert></title>
       <link href="css/bootstrap.css" rel="stylesheet"/>
       <link href="css/bootstrap-theme.css" rel="stylesheet"/>
       <script src="js/bootstrap.min.js"/>
       <script src="js/script.js"/>
    </h:head>
   <h:body>
        <ui:include src="header.xhtml" />
        <h:messages/>
        <div class="container well">
            <div class="row">
                <div class="col-md-12">
                    <h3><ui:insert name="title"></ui:insert></h3>
                    <hr/>
                </div>
            </div>
            
            <h:form id="searchForm">
            <div class="row">
                <div class="col-md-4">
                    <ui:insert name="input"></ui:insert>
                    <div class="form-group">
                        <ui:insert name="searchButton"></ui:insert>
                        <c:if test="#{request.isUserInRole('Admin')}">
                            <ui:insert name="clearCommand"></ui:insert>
                            <a class="btn btn-medium btn-primary" onclick="myRemote()" role="button" data-toggle="modal" href="#editHosting">Добавить новый</a>
                        </c:if>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <ui:insert name="select"></ui:insert>
                </div>
                
                <div class="col-md-4">
                    <ui:insert name="checkbox"></ui:insert>
                </div>
            </div>
            </h:form>
            
            <div class="row" id="dataTable">
                <div class="col-md-12">
                    <ui:insert name="table"></ui:insert>
                </div>
            </div>
        </div>
        <c:if test="#{request.isUserInRole('Admin')}">
        <div class="modal fade" id="editHosting" tabindex="-1" role="dialog" aria-labelledby="editHosting" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Редактирование хостинга</h3>
                    </div>
                    <h:form class="form-horizontal" id="editHostingForm">
                    <div class="modal-body">
                        <ui:insert name="input"></ui:insert>
                        <ui:insert name="select" ></ui:insert>
                        <ui:insert name="checkbox"></ui:insert>
                    </div>
                    <div class="modal-footer">
                        <ui:insert name="addButton"></ui:insert>
                        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    </div>
                    </h:form>
                </div>
            </div>
        </div>
        </c:if>
   </h:body>
</html>
