<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
<div class="form-group">
    <label class="label label-default">Объем</label>
    <p:inputText styleClass="form-control" type="text" id="inputHDD" placeholder="Объем HDD, Гб" value="#{dedicBean.dedic.space}" autocomplete="off"/>
</div>
<div class="form-group">
    <label class="label label-default">ОЗУ</label>
    <p:inputText styleClass="form-control" type="text" id="inputRAM" placeholder="Объем RAM, Мб" value="#{dedicBean.dedic.ram}" autocomplete="off"/>
</div>
<div class="form-group">
    <label class="label label-default">Траффик</label>
    <p:inputText styleClass="form-control" type="text" id="inputTrafic" placeholder="Трафик, Гб/мес" value="#{dedicBean.dedic.traffic}" autocomplete="off"/>
</div>
<div class="form-group">
    <label class="label label-default">IP</label>
    <p:inputText styleClass="form-control" type="text" id="inputIP" placeholder="IP, шт" value="#{dedicBean.dedic.ip}" autocomplete="off"/>
</div>
<div class="form-group">
    <label class="label label-default">Цена</label>
    <p:inputText styleClass="form-control" type="text" id="inputPrice" placeholder="Cтоимость за 1 месяц" value="#{dedicBean.dedic.price}" autocomplete="off"/>
</div>
</ui:composition>