<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<div class="form-group">
    <label class="label label-default">Диск</label>
    <h:selectOneMenu value="#{dedicBean.dedic.hdd}" class="form-control" converter="#{hddConveter}">
        <f:selectItem itemLabel="Выберите тип диска"/>
        <f:selectItems value="#{searchBean.hddList}" var="hdd" itemLabel="#{hdd.name}" itemValue="#{hdd}"/>  
    </h:selectOneMenu>  
</div>
<div class="form-group">
    <label class="label label-default">Процессор</label>
    <h:selectOneMenu value="#{dedicBean.dedic.cputype}" class="form-control" converter="#{cpuConveter}">
        <f:selectItem itemLabel="Выберите процессор"/>
        <f:selectItems value="#{searchBean.cpuList}" var="cpu" itemLabel="#{cpu.frequency}МГц - #{cpu.name}" itemValue="#{cpu}"/>
    </h:selectOneMenu>
</div>
<div class="form-group">
    <label class="label label-default">Техподдержка</label>
    <h:selectOneMenu value="#{dedicBean.dedic.support}" class="form-control" converter="#{supportConveter}">
        <f:selectItem itemLabel="Выберите тип поддержки"/>
        <f:selectItems value="#{searchBean.supportList}" var="support" itemLabel="#{support.type}" itemValue="#{support}"/>  
    </h:selectOneMenu>
</div>
</ui:composition>                 
