    <ui:composition xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.xhtml">Выбор хостинга</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-left">
                <li><h:link outcome="registration" rendered="#{!request.isUserInRole('User')}" value="Регистрация"/></li>
                <li><h:link outcome="profile" rendered="#{request.isUserInRole('User')}" value="Личный кабинет"/></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Выбор хостинга<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="shared.xhtml">Виртуальный хостинг</a></li>
                        <li><a href="vds.xhtml">Виртуальный выделенный сервер</a></li>
                        <li><a href="cloud.xhtml">Облачный хостинг</a></li>
                        <li><a href="dedicated.xhtml">Выделенный сервер</a></li>
                    </ul>
		</li>
		<li><a href="blog.xhtml">Статьи</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">     
                <li><h:form><h:commandLink class="navbar-brand" action="#{loginBean.logout}" rendered="#{request.isUserInRole('User')}" value="Выход"/></h:form></li>
            </ul>
            <h:form rendered="#{!request.isUserInRole('User')}" class="navbar-form navbar-right" id="login">
                <div class="form-group">		
                    <p:inputText type="text" styleClass="form-control input-sm" placeholder="Логин" id="username" value="#{loginBean.username}"/>
                </div>
                <div class="form-group">
                    <p:inputText type="password" styleClass="form-control input-sm" placeholder="Пароль" id="password" value="#{loginBean.password}"/>
                </div>
                <h:commandButton action="#{loginBean.login}" value="Войти" class="btn btn-default btn-sm"/>
            </h:form>
        </div>
    </nav>
    <h:outputText rendered="#{request.isUserInRole('User')}" class="pull-right label label-default" value="Вы вошли как #{session.getAttribute('userSessionFacadeLocal').getUser().username}"/>
    <p:growl life="1500" autoUpdate="true" id="growl" showDetail="true"/>
</ui:composition>	