<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

        <div class="form-group">
        <label class="label label-default">Платформа</label>
                        <h:selectOneMenu value="#{sharedBean.shared.platform}" class="form-control" converter="#{platformConveter}">
                            <f:selectItem itemLabel="Выберите платформу"/>
                            <f:selectItems value="#{searchBean.platformList}" var="platform" itemLabel="#{platform.name}" itemValue="#{platform}"/>  
                        </h:selectOneMenu>  
                    </div>
                         
                    <div class="form-group">
                        <label class="label label-default">Панель</label>
                        <h:selectOneMenu value="#{sharedBean.shared.panel}" class="form-control" converter="#{panelConveter}">
                            <f:selectItem itemLabel="Выберите панель"/>
                            <f:selectItems value="#{searchBean.panelList}" var="panel" itemLabel="#{panel.name}" itemValue="#{panel}"/>
                        </h:selectOneMenu>
                    </div>
                            
                    <div class="form-group">
                        <label class="label label-default">Бэкап</label>
                        <h:selectOneMenu value="#{sharedBean.shared.backup}" class="form-control" converter="#{backupConveter}">
                            <f:selectItem itemLabel="Выберите тип бэкапа"/>
                            <f:selectItems value="#{searchBean.backupList}" var="backup" itemLabel="#{backup.type}" itemValue="#{backup}"/>
                        </h:selectOneMenu>
                    </div>
                            
                    <div class="form-group">
                        <label class="label label-default">Техподдержка</label>
                        <h:selectOneMenu value="#{sharedBean.shared.support}" class="form-control" converter="#{supportConveter}">
                            <f:selectItem itemLabel="Выберите тип поддержки"/>
                            <f:selectItems value="#{searchBean.supportList}" var="support" itemLabel="#{support.type}" itemValue="#{support}"/>  
                        </h:selectOneMenu>
                    </div>
</ui:composition>
