<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <div class="form-group">
                        <label class="label label-default">Ящики, шт</label>
                        <p:inputText styleClass="form-control" type="text" id="inputEmails" placeholder="Ящики, шт" value="#{sharedBean.shared.emails}" autocomplete="off"/>
                    </div>
                    
                    <div class="form-group">
                        <label class="label label-default">Базы данных, шт</label>
                        <p:inputText styleClass="form-control" type="text" id="inputDatabases" placeholder="Базы данных, шт" value="#{sharedBean.shared.dbases}" autocomplete="off"/>
                    </div>
                            
                    <div class="form-group">
                        <label class="label label-default">Стоимость</label>
                        <p:inputText styleClass="form-control" type="text" id="inputPrice" placeholder="Cтоимость за 1 месяц" value="#{sharedBean.shared.price}" autocomplete="off"/>
                    </div>
    <div class="form-group">
                <label class="label label-default">Доп.услуги</label><p>
                <p:selectBooleanCheckbox value="#{sharedBean.shared.asp}" /> ASP
                <p:selectBooleanCheckbox value="#{sharedBean.shared.php}" /> PHP
                <p:selectBooleanCheckbox value="#{sharedBean.shared.ssh}" /> SSH</p>
                </div>
</ui:composition>                 
