<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 
         <div class="form-group">
                    <label class="label label-default">Название</label>
                            <p:inputText styleClass="form-control" type="text" id="inputName" placeholder="Название" value="#{sharedBean.shared.name}" autocomplete="off"/>
                        </div>
                    <div class="form-group">
                        <label class="label label-default">Объем HDD, Мб</label>
                        <p:inputText styleClass="form-control" type="text" id="inputHDD" placeholder="Объем HDD, Гб" value="#{sharedBean.shared.space}" autocomplete="off"/>
                    </div>
                    
                    <div class="form-group">
                        <label class="label label-default">Сайты, шт</label>
                        <p:inputText styleClass="form-control" type="text" id="inputSites" placeholder="Сайты, шт" value="#{sharedBean.shared.sites}" autocomplete="off"/>
                    </div>
                           
                    <div class="form-group">
                        <label class="label label-default">Траффик, Гб/мес</label>
                        <p:inputText styleClass="form-control" type="text" id="inputTrafic" placeholder="Трафик, Гб/мес" value="#{sharedBean.shared.traffic}" autocomplete="off"/>
                    </div>
    
                    
 </ui:composition>	
