<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<div class="form-group">
                            <label class="label label-default">Название</label>
                            <p:inputText styleClass="form-control" type="text" id="inputName" placeholder="Название" value="#{vdsBean.vds.name}" autocomplete="off"/>
                        </div>
        <div class="form-group">
                        <label class="label label-default">Объем HDD, Мб</label>
                        <p:inputText styleClass="form-control" type="text" id="inputHDD" placeholder="Объем HDD, Гб" value="#{vdsBean.vds.space}" autocomplete="off"/>
                    </div>
                    
                    <div class="form-group">
                        <label class="label label-default">ОЗУ, Мб</label>
                        <p:inputText styleClass="form-control" type="text" id="inputRam" placeholder="ОЗУ, Мб" value="#{vdsBean.vds.ram}" autocomplete="off"/>
                    </div>
                           
                    <div class="form-group">
                        <label class="label label-default">Трафик, Гб/мес</label>
                        <p:inputText styleClass="form-control" type="text" id="inputTrafic" placeholder="Трафик, Гб/мес" value="#{vdsBean.vds.traffic}" autocomplete="off"/>
                    </div>
                            
                    <div class="form-group">
                        <label class="label label-default">Cтоимость за 1 месяц</label>
                        <p:inputText styleClass="form-control" type="text" id="inputPrice" placeholder="Cтоимость за 1 месяц" value="#{vdsBean.vds.price}" autocomplete="off"/>
                    </div>
</ui:composition>