<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <div class="form-group">
                        <label class="label label-default">Визуализация</label>
                        <h:selectOneMenu value="#{vdsBean.vds.visualisation}" class="form-control" converter="#{visualisationConveter}">
                            <f:selectItem itemLabel="Выберите визуализацию"/>
                            <f:selectItems value="#{searchBean.visualisationList}" var="visualisation" itemLabel="#{visualisation.name}" itemValue="#{visualisation}"/>  
                        </h:selectOneMenu>  
                    </div>
                         
                    <div class="form-group">
                        <label class="label label-default">Процессор</label>
                        <h:selectOneMenu value="#{vdsBean.vds.cpu}" class="form-control" converter="#{cpuConveter}">
                            <f:selectItem itemLabel="Выберите процессор"/>
                            <f:selectItems value="#{searchBean.cpuList}" var="cpu" itemLabel="#{cpu.name}" itemValue="#{cpu}"/>
                        </h:selectOneMenu>
                    </div>
                            
                    <div class="form-group">
                        <label class="label label-default">Бэкап</label>
                        <h:selectOneMenu value="#{vdsBean.vds.backup}" class="form-control" converter="#{backupConveter}">
                            <f:selectItem itemLabel="Выберите типа бэкапа"/>
                            <f:selectItems value="#{searchBean.backupList}" var="backup" itemLabel="#{backup.type}" itemValue="#{backup}"/>
                        </h:selectOneMenu>
                    </div>
                            
                    <div class="form-group">
                        <label class="label label-default">Техподдержка</label>
                        <h:selectOneMenu value="#{vdsBean.vds.support}" class="form-control" converter="#{supportConveter}">
                            <f:selectItem itemLabel="Выберите тип поддержки"/>
                            <f:selectItems value="#{searchBean.supportList}" var="support" itemLabel="#{support.type}" itemValue="#{support}"/>  
                        </h:selectOneMenu>
                    </div>
    <div class="form-group">
                        <label class="label label-default">Панель</label>
                        <h:selectOneMenu value="#{vdsBean.vds.panel}" class="form-control" converter="#{panelConveter}">
                            <f:selectItem itemLabel="Выберите панель"/>
                            <f:selectItems value="#{searchBean.panelList}" var="panel" itemLabel="#{panel.name}" itemValue="#{panel}"/>
                        </h:selectOneMenu>
                    </div>
</ui:composition>                 
